<div class="upload">
  <nz-upload nzType="drag" nzFileType="text/html" [nzCustomRequest]="upload" [nzShowUploadList]="false">
    <p class="ant-upload-drag-icon">
      <i nz-icon nzType="inbox"></i>
    </p>
    <p class="ant-upload-text">点击或拖放文件到此区域</p>
    <p class="ant-upload-hint">
      仅支持sketch导出的html文件
    </p>
  </nz-upload>
</div>

<nz-table #basicTable [nzFrontPagination]="false" [nzData]="list" *ngIf="list">
  <thead>
    <tr>
      <th>颜色</th>
      <th>hex</th>
      <th>次数</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <span [style.background]="data.color"></span>
      </td>
      <td>{{ data.color }}</td>
      <td>{{ data.count }}</td>
    </tr>
  </tbody>
</nz-table>